.js-nav .logo_text{
			visibility:hidden;
		}
		.js-nav .logo .logo_image{
			position:relative;
			left:78px;
		}
		
		.js-nav #inner-wrap {
			left: 245px;
		}
		.js-nav #nav > ul > li > a{
			position:relative;
			left:155px;
			padding-left:28px;
		}
		.js-nav #nav > ul > li > a span{
			padding-left:64px;
		}
		.js-nav #contents-wrap-inner {
			position:relative;
			left:-155px !important;
		}